.receitas__conteudo{
    background-color: var(--cinza-receitas);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    padding: 4rem 1rem;
}


@media screen and (min-width: 768px) {
    .receitas__conteudo{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;
    }
}


@media screen and (min-width: 992px){
    .receitas__conteudo{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.5rem;
    }
}


@media screen and (min-width: 1200px){
    .receitas__conteudo{
        grid-template-columns: repeat(3, auto);
        column-gap: 2.5rem;
    }
}
